<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>


<center>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + New Post
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Post</h5>
                    <button type="button" id="postBtn" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form id="newPostForm">
                        <div class="mb-3">
                            <label for="name" class="form-label">Title</label>
                            <input type="text" id="titleInput" class="form-control" name="title">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Content</label>
                            <input type="text" id="descriptionInput" class="form-control" name="description">
                        </div>



                        <div class="modal-footer">
                            <button id="post" type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    {{#if posts.length}}
    {{#each posts as |post|}}
    <div class="col-md-6 post-list" id="postList">


        <div class="row mb-2 postcard" id="posts">
            <div class="col-md-8">
                <p>Posted by: {{post.user.email}}</p>
                <h4>{{post.title}}</h4>
                <p>{{post.description}}</p>

                {{#if comments.length}}
                <div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <p>Comments: {{commentCount}}</p>
                    </button>
                    <br>
                </div>
                <div class="collapse" id="collapseExample">
                    <div id="commentDrop" class="card card-body">
                        {{#each comments as |comment|}}
                        <p id="commentBox">{{comment.user.name}}: {{comment.content}}</p>
                        {{/each}}
                    </div>
                </div>
                <br>
                {{/if}}

                <form class="commentForm" data-id="{{post.id}}">
                    <textarea class="commentInput" rows="3"></textarea>
                    <br>
                    <button class="commentBtn btn btn-primary">Leave a Comment</button>
                </form>
                {{#if belongsToUser}}

                <button class="btn btn-sm btn-danger" data-id="{{post.id}}">Delete Your Post</button>

                {{/if}}
            </div>
        </div>

    </div>
    {{/each}}
    <br>
    </div>
    {{/if}}
</center>

<script>
    $(document).on('click', function () {
        $('.collapse').collapse('hide');
    })
</script>
<script src="/js/post.js"></script>
<script src="/js/comment.js"></script>